



























/* #user_input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#user_input button {
    border-radius:  5px;
    padding: 10px;
}

#user_input input {
    padding: 10px;
    border-radius: 5px;
}

#movie_section {
    display: flex;
    gap: 10px;
    margin: 40px;

}

#heading {
    font-size: 20px;
    width: 350px;
    margin-left: 10px;
}

#image {
    border-radius: 10px;
}

#imdb {
    /* background: #05a0af; */
    width: 20px;
    color: white;
    padding: 5px;
    border-radius: 5px;
} */