#container {
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(4, 1fr);

    justify-items: center;
    align-items: center;


}


#item1 {
    background: red;
}

#item2 {
    background: limegreen;

}

#item3 {
    background: blueviolet;

}



