* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  overflow-x: hidden;
  background: rgb(6, 0, 15);
  background: linear-gradient(90deg, rgb(0, 0, 0) 100%, rgba(0, 212, 255, 1) 100%);
}
body::-webkit-scrollbar {
  width: 1em;
  background: black;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #5ab061;
  outline: 1px solid rgb(6, 0, 15);
}

/* Header styles */
#header {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  background-image: url('images/background_png.png');
  background-size: cover;
  background-position: center;
}

/* Navigation styles */
.container {
  padding: 20px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 5rem;
  border-radius: 15px;
  margin-left: 1rem;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  position: relative;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #5ab061;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.right-side-bar {
  display: flex;
}
.fa-solid, fa-bars {
  margin-left: 1rem;
}

/* Home styles */
.header-text {
  margin-top: 15%;
  font-size: 55
  px;
  text-shadow: 9px 2px 5px black;
  cursor: pointer;
}
.header-text h1 {
  font-size: 95px;
  margin-top: 20px;
  text-shadow: 9px 2px 5px black;
  cursor: pointer;
  text-align: center;
}
.header-text p {
  font-size: 15px;
  margin-top: 50px;
  text-shadow: 9px 2px 5px black;
  cursor: pointer;
  text-align: center;
}
.header-text h1 span {
  color: #5ab061;
  transition: 0.5s ease;
}
.header-text h1 span:hover {
  color: #3e8945;
}
.btn-logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn1, .btn2 {
  margin: 1rem;
  width: 7rem;
  height: 2rem;
  border-radius: 1rem;
  cursor: pointer;
}
.btn1 {
  background: #5ab061;
  border: none;
}
.btn2 {
  background: none;
  border: none;
  color: white;
}

/* About styles */
.about {
  margin: 10rem 0 8rem 10rem;
  background: white;
  width: 95rem;
  height: 30rem;
  padding: 1rem;
  padding-right: 10rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgb(0, 0, 0);
}
.circle3{
  background: white;
  background: linear-gradient(
    to right bottom,
    rgb(90, 176, 97),
    rgba(0, 0, 0, 0.1)
  );
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;
}
.circle3 {
  top: -2%;
  left: 2%;
  transform: translate(-50%, -50%);
  animation: upDownup 6s ease-in-out infinite;
}

#about-goa-logo {
  width: 32rem;
  position: absolute;
  right: 57rem;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 1px;
  top: 3.3rem;
  border-radius: 1.5rem;
  margin: auto;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.about-heading-p-btn {
  margin: 3rem 0 0 23rem;
  width: 25rem;
}
.about-heading-p-btn button{
  margin-top: 2rem;
  width: 5rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
}
.about-heading-p-btn p{
  margin-top: 1rem;
}
/* Squads styles */
#squads {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 100%, rgba(0, 212, 255, 1) 100%);
}

.circle1, .circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgb(90, 176, 97, 0.9),
    rgba(0, 0, 0, 0.1)
  );
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;
}
.circle1 {
  top: 14%;
  left: 16%;
  transform: translate(-0%, -5%);
  animation: upDown 6s ease-in-out infinite;
}
@keyframes upDown {
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px); /* Adjust the distance as per your preference */
  }
}

.circle2 {
  top: 64%;
  left: 73%;
  transform: translate(-50%, -50%);
  animation: upDownup 6s ease-in-out infinite;
}

@keyframes upDownup {
  0%, 100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px); 
  }
}

.glass-card {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1)
  );
  backdrop-filter: blur(1rem);
  width: 60%;
  height: 60%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.glass-card h1 {
  font-size: 2rem;
  position: absolute;
  top: 23%;
  left: 45%;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.glass-card p {
  font-size: 0.7rem;
  position: absolute;
  top: 36%;
  left: 45%;
  color: white;
  font-family: 'Poppins', sans-serif;
  width: 20rem; 
  font-weight: 500;
  text-transform: uppercase;

  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.glass-card-img, img{
  width: 15rem;
  border-radius: 1rem;
  margin-left: -150px;
}
/* Services styles */
#services {
  padding: 30px 0;
  margin-bottom: 3rem;
  cursor: pointer;
  background: rgb(0, 0, 0);
}
.sub-title {
  color: white;
}
.sub-title span {
  transition: 0.5s ease;
  cursor: pointer;
  color: #5ab061;
}
.sub-title span:hover {
  color: #4b9551;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background: white;
  background-color: #3e3e3e;
  backdrop-filter: blur(1rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: 0.5s, transform 0.5s;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
  color: white;
}
.services-list div:hover {
  background: #5ab061;
  transform: translateY(-7.5px);
}
.services-list-box {
  width: 17rem;
  height: 17rem;
}

/*   contact    */
#contact {
  display: flex;
  min-height: 100vh;
}

.container2 {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
  margin-bottom: 4rem;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ed1c6f;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ffffff;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ffffff;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #ffffff;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
.circle4, .circle5{
  background: white;
  background: linear-gradient(
    to right bottom,
    rgb(90, 176, 97, 0.9),
    rgba(0, 0, 0, 0.1)
  );
  height: 10rem;
  width: 10rem;
  position: absolute;
  border-radius: 50%;
}
.circle4 {
  top: 375%;
  left: 23%;
  transform: translate(-0%, -5%);
  animation: upDown 6s ease-in-out infinite;
}
.circle5 {
  top: 420%;
  left: 65%;
  z-index: -1;
  transform: translate(-0%, -5%);
  animation: upDown 6s ease-in-out infinite;
}

/*     footer   */
.footer {
  position: relative;
  width: 100%;
  background: #3e3e3e;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/* Add this style to the existing CSS */

/* Mobile-Friendly Meta Tag */
@media only screen and (max-width: 650px) {
  body {
    font-size: 14px; /* Adjust the font size for smaller screens */
  }
  /* Navigation Responsive */
nav {
  flex-direction: column;
  align-items: center;
}
.right-side-bar {
  margin-top: 10px;
}

/* Adjust Logo Size */
.logo {
  width: 70px; /* Adjust the size for smaller screens */
}

/* Home Section Responsive */
.header-text {
  margin-top: 10%;
  text-align: center;
}
.header-text h1 {
  font-size: 44px;
  margin-top: 10px;
}
.header-text p {
  font-size: 13px;
  margin-top: 20px;
}

/* About Section Responsive */
.about {
  margin: 5% 0;
  width: 90%;
  padding-right: 5%;
}
#about-goa-logo {
  width: 90%;
  right: 0;
  top: 2rem;
  left: 1.5rem;
}
.about-heading-p-btn {
  margin: 30rem 0 0 2rem;
  width: 100%;
}

/* Squads Section Responsive */
#squads {
  height: auto;
  padding: 5% 0;
}
.glass-card {
  width: 90%;
  height: 40rem;
}
.glass-card h1{
  font-size: 20px;
  text-align: left;
  margin-top: -7rem;
  margin-left: -5.25rem;
}
.glass-card p{
  font-size: 10px;
  width: 70%;
  margin-top: 9rem;
  margin-left: -6rem;
}
.glass-card-img, img{
  width: 15rem;
  margin-left: .2rem;
  margin-top: -6rem;
}
/* Services Section Responsive */
.services-list-box {
  width: 100%;
  height: auto;
}

/* Contact Section Responsive */
.container2 {
  flex: 0 1 100%;
}
.screen {
  border-radius: 0;
}

/* Footer Responsive */
.footer {
  padding: 20px 10%;
}

}

