@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

header {
    padding: 15px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

#bg1 {
    background-image: url('images/statue2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    text-align: center;
    padding-top: 50px; 
}

#bg1 h1 {
    color: white;
    font-size: 70px;
    margin-top: 180px;
    margin-bottom: 20px;
}

#bg1 p {
    color: white;
    font-size: 18px;
}

#introduction,
#quotes ol li,
#end,
.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    color: #5e5e5e;
}

#introduction {
    margin-top: 100px;
}

#quotes ol li {
    margin-top: 30px;
    position: relative;
}

#quotes ol li:before {
    left: -30px;
}

#end {
    margin-top: 100px;
}

.container {
    margin-top: 80px;
    padding: 20px;
}

h1 {
    color: #333;
}

#quote-text,
#quote-author {
    color: #5e5e5e;
}

#new-quote-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #313131;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 20px;
}

#new-quote-btn:hover {
    background-color: #1f1f1f;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    #bg1 h1 {
        font-size: 40px;
        margin-top: 100px;
        margin-bottom: 10px;
    }

    #bg1 p {
        font-size: 16px;
    }

    .container {
        padding: 10px;
    }
}

@media only screen and (max-width: 480px) {
    #bg1 h1 {
        font-size: 30px;
        margin-top: 80px;
        margin-bottom: 10px;
    }

    #bg1 p {
        font-size: 14px;
    }
}


@media screen and (max-width: 768px) {
    #bg1 h1 {
        font-size: 40px;
    }

    #introduction, #quotes ol, #end {
        max-width: 90%;
    }

    #quotes ol li:before {
        left: -20px; 
    }
}