#parameters-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#parameters-container input {
    margin: 5px;
    padding: 4px;
}

#parameters-container button {
    margin: 5px;
    padding: 5px;
}

#main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
}
